<div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">
                    {{upperCardsObject.name}} {{upperCardsObject.time}}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{upperCardsObject.price}}</div>
            </div>
            <div class="col-auto">
                <i class={{upperCardsObject.icon}}></i>
            </div>
        </div>
    </div>
