
<div class="container-fluid">
  <div id="wrapper">
    <app-sidebar></app-sidebar>
    

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-navbar></app-navbar>

        <div class="container-fluid">
          <app-belownavbar></app-belownavbar>
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4" *ngFor="let element of dataUpperCards">
              
              <app-uppercards [upperCardsObject]="element"></app-uppercards>
            </div>
           
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    

    
  </div>
</div>




